section#footer.blue
    .container
        .row
            .col-lg-4#body BCI.js made with #[i.fas.fa-heart.fa-sm] and #[i.fas.fa-coffee.fa-sm]
                .d-lg-none.pb-1
            .col-lg-8#copyright BCI.js &#169; 2017 Pierce Stegman. Logo and website made with icons from #[a.text-white(href='https://fontawesome.com/license/free') Font Awesome]
