section#getstarted.blue
    .container
        .row
            .col-md-4
                h2 #[i.fas.fa-download.fa-sm.mr-1] Get Started
                p Perform online and offline processing in Node.js with our NPM package, or get started directly in your browser with the jsDelivr CDN.
                .d-md-none.pb-2 &nbsp; 
            .col-md-8
                h5 Node.js
                pre.prettyprint.lang-bash.codesnippet.mx-auto
                    code npm install bcijs
                h5 Browser
                pre.prettyprint.lang-html.codesnippet.mx-auto
                    code &lt;script src="https://cdn.jsdelivr.net/npm/bcijs@1.7.1/dist/bci.min.js"&gt;&lt;/script&gt;
