section#intro.text-center
    .container
        .py-5
            img#logo(src='img/logo.svg', height='100')
            p.lead.text-muted.mt-2.font-weight-normal Powering brain-computer interfaces with JavaScript
            p
                a.btn.btn-outline-primary.my-2.mr-2(href='https://github.com/pwstegman/bci.js').
                    #[i.fab.fa-github] GitHub
                a.btn.btn-outline-success.my-2(href='/docs').
                    #[i.fas.fa-book] Docs
