doctype html
html(lang="en")
    include templates/head.pug
    body
        include templates/nav.pug
        include templates/intro.pug
        include templates/getstarted.pug
        include templates/features.pug
        include templates/footer.pug
        include templates/scripts.pug
